<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Conversational AI for Nigerian Constitution</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>

    {% block body %}{% endblock %}

    <!-- partial -->

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var Message;

            namespace = '/chat';
            var socket = io.connect(namespace);

            // Connect
            socket.on('connect', function () {
                // socket.emit('my_event', { data: 'Client connected!' });
            });

            Message = function (arg) {
                this.text = arg.text, this.message_side = arg.message_side;
                this.draw = function (_this) {
                    return function () {
                        var $message;
                        $message = $($('.message_template').clone().html());
                        $message.addClass(_this.message_side).find('.text').html(_this.text);
                        $('.messages').append($message);
                        return setTimeout(function () {
                            return $message.addClass('appeared');
                        }, 0);
                    };
                }(this);
                return this;
            };

            $(function () {
                var getMessageText, message_side, sendMessage;
                message_side = 'right';
                getMessageText = function () {
                    var $message_input;
                    $message_input = $('.message_input');
                    return $message_input.val();
                };

                sendMessage = function (text, message_side) {
                    var $messages, message;
                    if (text.trim() === '') {
                        return;
                    }
                    $('.message_input').val('');
                    $messages = $('.messages');
                    // message_side = message_side === 'left' ? 'right' : 'left';
                    message = new Message({
                        text: text,
                        message_side: message_side
                    });
                    console.log('messages are: ', message.text);
                    socket.emit('my_event', { data: message.text });

                    message.draw();
                    return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
                };

                $('.send_message').click(function (e) {
                    return sendMessage(getMessageText(), 'right');
                });

                $('.message_input').keyup(function (e) {
                    if (e.which === 13) {
                        return sendMessage(getMessageText(), 'right');
                    }
                });
                // sendMessage('initial ', 'left');

                // response data
                socket.on('my_response', function (msg) {
                    console.log('RESPONSE DATA IS >>> ', msg.data.data)
                    sendMessage(msg.data.data, 'left');
                });

                socket.off('my_response', function () {
                    console.log(' OFF AM ')
                });
            });

        }.call(this));
    </script>


</body>

</html>